@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    overflow: auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
main > div > h1{
    border: 2px solid black;
    text-align: center;
    padding: 12px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(255, 89, 172);
    color: white;
}
#age{
    margin-left: 15%;
    margin-right: 15%;
}
input{
    padding: 8px;
    margin: 20px;
}
button{
    font-size: 15px;
    border: none;
    padding: 12px 20px;
    margin: 15px;
    cursor: pointer;
}
span{
    font-size: 1.5rem;
}